<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= data.name %></p>
    <p>Age: <%= data.age %></p>
    <p>Sex: <%= data.sex %></p>
    <a href="#">more</a>
  </body>
</html>
